.brown-middle-bar {
  height: 30px;
  width: 100%;
  background-color: var(--orangeBrown);
}
/* gradient have been removed as there seemed to be issues with it */
.gradient {
  height: 30px;
  width: 100%;
  background-image: linear-gradient(to right, var(--brown), var(--orange));
}
