.card img {
  height: auto;
  width: 150px;
  object-fit: cover;
  border-radius: 100rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 100rem 2rem 2rem 100rem;
  overflow: hidden;

  display: flex;

  background-color: var(--lighterBrown);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 20px 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collection {
  padding: 2rem clamp(1rem, 5vw, 10rem);

  display: flex;
  flex-direction: column;
}

.flex-left {
  align-self: flex-start;
}
.flex-right {
  align-self: flex-end;
}
