:root {
  /* stripes */
  --orange: #ffcf87;
  --orangeBrown: #e4b773;
  --brown: #b59464;

  /* background */
  --lightBrown: #faeac3;
  --lighterBrown: #fff5db;

  /* text */
  --white: white;
  --black: black;
}
